body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlSBE6FBQtNjlhUNAxRpyjl0-Itk3nxqhlXQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  background-color: #649e78;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 50px;
}

img {
  width:40%;
  height:20%;
}

nav {
  display: flex;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffc107;
}

nav a.active {
  color: #ffc107;
}


.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car-card {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-card img {
  width: 100%;
  height: auto;
}

.car-details {
  padding: 10px;
}

.car-details h2 {
  margin: 0;
  font-size: 18px;
}

.car-details p {
  margin: 5px 0;
  font-size: 14px;
}

.car-detail {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.car-detail img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.car-detail h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.car-detail p {
  margin-bottom: 5px;
}
.car-detail button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 35%;
}
.BTC{
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sort-bar {
  background-color: #dd5151;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 30px;
}

.sort-bar label {
  margin-right: 10px;
}

.sort-bar select {
  margin-right: 20px;
}

.sort-bar button {
  padding: 8px 16px;
  background-color: #ffd92f;
  color: #0011ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

